/*this is the part that is special for the DIAP plug in*/

div.DIAP_PDM_AB_Syntax,
div.DIAP_PDM_AB_PropVal
/* Wraps all Description of Descr, PropVal, Remarks, Example, SeeAlso, Others, CopyRight*/
{
 margin: 20px 0px 0px 0px;
 padding: 0px 0px 0px 0px;
 border-width:0px;
 position: relative;
}
div.DIAP_PDM_AB_mHead
/* Head of Property, i.e. the name of the property */
{
 background-color: #99CCFF;
 border-width:1px;
 border-style: solid;
 border-color:#999999;
 padding: 5px 5px 5px 5px;
 width: auto;
 height:20px;
 position: relative;
}
div.DIAP_PDM_AB_mHead h4
{
 font-family: "Tahoma";
 color: #000000;
 margin: 0px 0px 0px 0px;
}
div.DIAP_PDM_AB_mBody
/* Body of Property, i.e. all but not the name of the property */
{
 margin: 0px 0px 0px 5px;
 padding: 0px 0px 0px 0px;
}
{
 margin: 20px 0px 0px 0px;
 padding: 0px 0px 0px 0px;
 border-width:0px;
 position: relative;
}
/* The DIAP_AB_Syntax class is defined beyond like PDM_AB_Remarks*/

div.DIAP_PDM_AB_Syntax
/*Description of property value*/
{
 border-left-width: 0px;
 border-top-width: 0px;
 border-right-width: 0px
 border-bottom-width: 0px;
 padding-left: 0px;
 padding-top: 0px;
 padding-right: 0px;
 padding-bottom: 0px;
 position: relative;
 font-size: 10pt;
 width: auto;
 margin: 10px;
 font-family: "Monospace","Courier New";
}
div.DIAP_PDM_AB_Syntax div.SColor
/*Outer div for syntax*/
{
 background-color: #eeeeee;
 width: 100%;
 border: solid 1px #eeeeee;
}
div.DIAP_PDM_AB_Syntax div.Output
/*Return value
*/
{
 margin: 5px 0px 5px 5px;
 white-space:nowrap;
 float: left;
 width:auto;
}
div.DIAP_PDM_AB_Syntax div.OutputEq
/*= after output*/
{
 margin: 5px 5px 5px 0px;
 float: left;
 width:auto;
}
div.DIAP_PDM_AB_Syntax div.PEM
/*INNER div FOR pem name*/
{
 width:auto;
 margin: 5px 0px 5px 0px;
 text-align: left;
 vertical-align: top;
 font-weight: bold;
 float: left;
 width:auto;
}
div.DIAP_PDM_AB_Syntax div.InputEq
/*= for input*/
{
 margin: 5px 0px 5px 5px;
 float: left;
 width: auto;
}
div.DIAP_PDM_AB_Syntax div.Input
/*Input values position: absolute;
*/
{
 margin: 5px 5px 5px 5px;
 text-align: left;
 white-space:nowrap;
 float: left;
 width: auto;
}

div.DIAP_PDM_AB_Syntax div.Output a,
div.DIAP_PDM_AB_Syntax div.Input a
/*Link in 'usage' section of properties Description,
i.e. each input our output value*/
{
 font-style: italic;
 text-decoration: none;
}
div.DIAP_PDM_AB_Syntax div.Output a:active,
div.DIAP_PDM_AB_Syntax div.Input a:active
/*State of active for Link in 'usage' section of properties Description,
i.e. each input our output value*/
{
 font-weight: bold;
 background-color: lime;
}
div.DIAP_PDM_AB_Syntax div.Output a:hover,
div.DIAP_PDM_AB_Syntax div.Input a:hover
/*State of hover for Link in 'usage' section of properties Description,
i.e. each input our output value*/
{
 font-weight: bolder;
 background-color: lime;
}

/* The DIAP_AB_PropVal class is defined beyond like PDM_AB_Remarks*/

div.DIAP_PDM_AB_PropVal dl.DIAP_PDM_AB_PropVal_List
/*List of posible Values*/
{
 border-top-width: 0px;
 padding-right: 0px;
 padding-left: 0px;
 border-left-width: 0px;
 border-bottom-width: 0px;
 padding-bottom: 0px;
 margin: 0px 0px 0px 20px;
 padding-top: 0px;
 position: relative;
 border-right-width: 0px;
}
div.DIAP_PDM_AB_PropVal dl.DIAP_PDM_AB_PropVal_List dt.dt_
/*Parameters Name
use ... a.DIAP_PDM_AB_PropVal_ParaName !*/
{
}
div.DIAP_PDM_AB_PropVal a.DIAP_PDM_AB_PropVal_ValName
/*Parameters Name*/
{
}
div.DIAP_PDM_AB_PropVal dl.DIAP_PDM_AB_PropVal_List dd.dd_
/*Information about a Parameter*/
{
 left: -20px;
 position: relative;
}
div.DIAP_PDM_AB_PropVal table.Val_Info
/* table with informations about a Property value
defined in first line of a PARAMS prefix or within the <PARAMS> tag */
{
 empty-cells:show;
}
div.DIAP_PDM_AB_PropVal table.Val_Info col.ColumnValue
/* first column of the table
information value like "Type" or "Direction"*/
{
 font-weight: bolder;
}
div.DIAP_PDM_AB_PropVal table.Val_Info td.CellValue
/* cell of first column of the table
information value like "Type" or "Direction"*/
{
 font-weight: bolder;
}
div.DIAP_PDM_AB_PropVal table.Val_Info col.ColumnData
/* second column of the table
information value like "String" for value "Type"*/
{
}
div.DIAP_PDM_AB_PropVal table.Val_Info td.ColumnData
/* cell of second column of the table
information value like "String" for value "Type"*/
{
}
div.DIAP_PDM_AB_PropVal span.Val_Detail
/* Detailtext of a value of a property.*/
{
}
/*end of the part that is special for the DIAP plug in*/
